<div id="coin-menu" class="row">
    <div class="col s1">
        <div class="go-back">
            <a [routerLink]="['/']" class="btn-floating waves-effect waves-light">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="col s1">
        <div class="icon">
            <i class="cc {{ coinAlias }}">
            </i>
        </div>
    </div>
    <div class="col s2">
        <div class="name" ngDefaultControl [(ngModel)]="currentSymbol">
            <div class="coin-name">
                <h4>{{ coinAlias }}</h4>
                <h6>Desc</h6>
            </div>
            <span [(ngModel)]="myCoin.currentPrice" ngDefaultControl>{{ currentSymbol }}  {{ myCoin.currentPrice | number:'2.2-4'}}</span>
        </div>
    </div>
</div>
<div id="coin-body">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="chart-panel" ngDefaultControl [(ngModel)]="currentSymbol">
                    <div ngDefaultControl [(ngModel)]="myCoin.alias" class="chart-title">
                        <h3>{{myCoin.alias}} price history chart in {{ currentSymbol }}</h3>
                    </div>
                    <div class="coin-progress" ngDefaultControl [(ngModel)]="percentageDifference">
                        <div class="progress-body plus" *ngIf="percentageDifference >= 0">
                            <i class="fa fa-caret-up"></i>
                            <h6>{{ percentageDifference | number:'1.1-2'}} %</h6>
                        </div>
                        <div class="progress-body minus" *ngIf="percentageDifference < 0">
                            <i class="fa fa-caret-down"></i>
                            <h6>{{ percentageDifference | number:'1.1-2'}} %</h6>
                        </div>
                    </div>
                    <!-- preloader -->
                    <div class="progress preloader">
                        <div class="indeterminate"></div>
                    </div>
                    <!-- chart -->
                    <div class="chart" id="chart-view">
                        <canvas #chart class="canvas" baseChart [datasets]="coinChartData" [labels]="coinChartLabels" [options]="coinChartOptions"
                            [colors]="coinChartColors" [chartType]="coinChartType" (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"></canvas>
                        <!-- chart buttons -->
                        <div id="chart-buttons">
                            <a class="waves-effect waves-light btn active" (click)="setDays(10, $event)">
                                10 Days
                            </a>
                            <a class="waves-effect waves-light btn" (click)="setDays(14, $event)">
                                14 Days
                            </a>
                            <a class="waves-effect waves-light btn" (click)="setDays(30, $event)">
                                1 Month
                            </a>
                            <a class="waves-effect waves-light btn" (click)="setDays(90, $event)">
                                3 Months
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>