#coin-menu {
    background: #fff;
    padding: 20px 0;
    border-top: 1px solid #D6E2EB;
    border-bottom: 1px solid #D6E2EB;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.go-back {
    text-align: center;
}

.go-back a {
    display: inline-block;
}

.btn-floating {
    background: #2ecc7062;
}

.btn-floating i {
    color: #24a35a;
}

.btn-floating:hover {
    background: #29b76496;
}

.icon i {
    font-size: 2.5em;
    float: right;
}

.name h4 {
    line-height: normal;
    font-weight: normal;
    color: #3f3f3f;
    margin: 0;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.name h6 {
    font-weight: lighter;
    color: #8f8f8f;
    font-size: 0.7em;
    letter-spacing: 1px;
}


