/*
purple color palette:
    main: #342188
    hover: #2e1d7a
    focus: #291a6c
    btn-hover: #483793
    btn-active: #5c4d9f
*/

#coin-menu {
    background: #fff;
    padding: 10px 0;
    border-top: 1px solid #D6E2EB;
    border-bottom: 1px solid #D6E2EB;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: relative;
    margin-bottom: 0;
}

#coin-body {
    background: #342188;
    padding: 10px 0;
}

.chart-panel {
    width: 80%;
    display: table;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.preloader {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.progress {
    background: #291a6c;
    height: 2px;
    width: 220px;
}

.indeterminate {
    background: #fff;
}

.go-back {
    text-align: center;
}

.go-back a {
    margin: 8.5px 0;
}

.chart-title {
    margin-bottom: 10px;
}

.chart-title h3 {
    color: #5c4d9f;
    font-size: 1.2em;
    letter-spacing: 1px;
    float: left;
}

.chart-panel:hover h3 {
    color: #6c5fa5;
}

.coin-progress {
    float: right;
}

.progress-body {
    padding: 3px 13px 7px 13px;
    background: transparent;
    border: 1px solid #5c4d9f;
    border-radius: 5px;
    margin: 1.46rem 1.46em 1.168rem 0;
}

.progress-body i {
    font-size: .6em;
}

.progress-body h6 {
    display: inline;
    font-weight: 900;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.plus {
    color: #29b765;
    border: 1px solid #29b765;
}

.minus {
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.btn-floating {
    background: rgba(72, 55, 147, 0.365);
}

.btn-floating i {
    color: #483793;
}

.btn-floating:hover {
    background: rgba(72, 55, 147, 0.588);
}

.icon i {
    font-size: 2.5em;
}

.icon {
    float: right;
    overflow: hidden;
}

.bordered {
    border: 1px dashed #000;
}

.name h4 {
    line-height: normal;
    font-weight: normal;
    color: #3f3f3f;
    font-size: 1.7em;
    margin: 0;
    letter-spacing: 1px;
}

.name span {
    float: right;
    font-size: 1.7em;
    line-height: 2.2em;
}

.coin-name {
    float: left;
    padding: 13px 0;
}

.name {
    overflow: hidden;
}

.name h6 {
    font-weight: lighter;
    color: #8f8f8f;
    font-size: 0.8em;
    letter-spacing: 1px;
}

#chart-buttons {
    padding: 20px 0;
}

.btn {
    font-size: 0.7em;
    background: #291a6c;
    text-transform: none;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-right: 20px;
}

.btn:hover {
    background: #483793;
}

.active {
    background: #5c4d9f;
}

.tooltip {
    border: 1px solid rgba(40, 25, 106, .9);
    border-radius: 8px;
    padding: 10px 10px 13px 10px;
    position: absolute;
    background: rgba(40, 25, 106, .7);
}

.tooltip span {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    font-weight: 900;
    font-size: 0.6em;
}

.info-column {
    padding: 10px 30px;
    position: relative;
}

.coin-stats {
    padding: 10px 10px;
}

.coin-rank {
    padding: 65px 10px;
    float: right;
}

.coin-stats p {
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.56em;
    letter-spacing: 1px;
    color: #A99AF0;
}

.coin-rank span {
    border: 1px solid #291a6c;
    border-radius: 50%;
    margin-left: 10px;
    padding: 10px 15px;
    color: #fff;
    background: #291a6c;
    font-size: .9em;
    font-weight: bolder;
    cursor: pointer;
    transition: all .1s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.coin-rank span:hover {
    background: #5c4d9f;
    border-color: #5c4d9f;
}

.coin-summary-info p {
    display: block;
}

.coin-summary-info span {
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: normal;
}

.currency {
    color: #A99AF0 !important;
    font-size: .8em;
}

.spacer {
    padding: 15px 0;
}

.choice {
    display: inline;
    border: none;
    font-weight: bolder;
    letter-spacing: 2px;
}

.minus {
    color: #e74c3c;
}

.plus {
    color: #29b765;
}