<!-- chart 
<div class="container">
    <div class="row">
        <div class="col s12">
                <canvas baseChart width="400" height="400" 
                [datasets]="coinChartData" 
                [labels]="coinChartLabels" 
                [options]="coinChartOptions"               
                [chartType]="coinChartType" 
                (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div> -->

<div id="coin-menu">
    <div class="row">
        <div class="col s1 go-back">
                <a class="btn-floating waves-effect waves-light"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="col s8 bordered coin-header"><i class="cc BTC"></i>aa

        </div>
    </div>
</div>