<!-- navigation -->
<nav>
    <div class="nav-wrapper">
        <div class="brand-logo" ngDefaultControl [(ngModel)]="randomText">{{ PageTitle }}
            <i class="fa fa-bolt"></i>
            <p>{{ randomText }}</p>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a routerLink="/" class="waves-effect waves-light btn">Currency list
                    <i class="fa fa-btc left"></i>
                </a>
            </li>
            <li>
                <a routerLink="/favourites" class="waves-effect waves-light btn">Favourites
                    <i class="fa fa-thumb-tack left"></i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light btn">Top
                    <i class="fa fa-star left"></i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light btn-menu btn" (click)="showMenu()">
                    <span>{{_coins.getCurrentCurrencySymbol()}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="currency-menu">
    <div class="close-menu">
        <i class="fa fa-close" (click)="hideMenu()"></i>
    </div>
    <div class="currency-base">
        <h6>Choose currency base:</h6>
        <select (change)="setNewCurrency($event.target.value)">
            <option *ngFor="let currency of currencyList" value="{{currency}}">{{currency}}</option>
        </select>
    </div>
    <div class="convert-button">
        <a class="waves-effect waves-light btn" (click)="applyNewCurrency()">
            Convert
        </a>
    </div>
</div>
<!-- end of navigation -->
<router-outlet></router-outlet>