nav {
    background: #f6f9fa;
    height: 120px;
    line-height: 120px;
}

#nav-mobile li {
    padding: 0 10px;
}

.nav-wrapper i {
    line-height: 36px;
}

.brand-logo {
    color: #5F6D85;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 30px;
    letter-spacing: .9px;
    cursor: default;
}

.brand-logo p {
    display: inline;
    font-size: 0.7em;
    letter-spacing: 0;
    font-weight: 100;
    color: #b8bcbe;
}

.brand-logo i {
    color: #D6E2EB;
    margin-left: 20px;
    float: none;
    font-size: 0.6em;
}

.brand-logo i:hover {
    color: #5F6D85;
}

.brand-logo:hover {
    color: #2ecc71;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}