nav {
    background: #f6f9fa;
    height: 120px;
    line-height: 120px;
}

#nav-mobile li {
    padding: 0 0;
}

.nav-wrapper i {
    line-height: 36px;
}

.brand-logo {
    color: #5F6D85;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 30px;
    letter-spacing: .9px;
    cursor: default;
}

.brand-logo p {
    display: inline;
    font-size: 0.7em;
    letter-spacing: 0;
    font-weight: 100;
    color: #b8bcbe;
}

.brand-logo i {
    color: #D6E2EB;
    margin-left: 20px;
    float: none;
    font-size: 0.6em;
}

.brand-logo i:hover {
    color: #5F6D85;
}

.brand-logo:hover {
    color: #2ecc71;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.btn-menu {
    border-radius: 50px;
    background: transparent;
    text-align: center;
}

.btn-menu span {
    margin-right: 0;
    color: #2ecc71;
    font-size: 1.2em;
}

#currency-menu {
    padding: 20px;
    border: 1px solid #e3e4e6;
    background: #fff;
    width: 240px;
    position: absolute;
    border-radius: 5px;
    top: 15px;
    right: 15px;
    z-index: 9999;
}

.close-menu {
    text-align: right;
}

.close-menu i {
    font-size: 1.3em;
    color: #5F6D85;
    cursor: pointer;
}

.close-menu i:hover {
    color: #D6E2EB; /* crvenu dodaj */
}

.currency-base h6 {
    font-size: 0.7em;
    color: #A0A3AA;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .8px;
}

select {
    display: block;
    cursor: pointer;
    border: 1px solid #D6E2EB;
    font-size: 0.7em;
}

select:hover {
    border-color: #2ecc71;
}

option {
    font-size: 1em;
}

.convert-button {
    padding: 20px 0 0 0;
    text-align: center;
}

.btn-floating {
    background: #2ecc7010;
}

.btn-floating i {
    color: #29b765;
}

.btn-floating:hover {
    background: #29b76496;
    color: #24a35a;
}

