<!-- table header -->
<div id="list-header" ng-sticky [offSet]="0" [addClass]="'is-sticky'">
    <div class="wrapper">
        <div class="row-head row">
            <div class="col s3">
                <h5>Currency</h5>
            </div>
            <div class="col s3">
                <h5>Price</h5>
            </div>
            <div class="col s3">
                <h5>Market cap</h5>
            </div>
            <div class="col s3">
                <h5>Last 24h</h5>
            </div>
        </div>
    </div>
</div>

<div class="progress" *ngIf="!loaded">
    <div class="indeterminate"></div>
</div>

<!-- table content -->
<div class="data" *ngIf="loaded">
    <div id="list-row" *ngFor="let key of coins.RAW | ObjKeys; let i = index">
        <div class="wrapper list-row">
            <div class="row-head row">
                <div class="col s3 coin-name">
                    <div class="number">{{ i + 1 }}.</div>
                    <div class="icon">
                        <i class="fa fa-btc"></i>
                    </div>
                    <h5>{{ key }}</h5>
                </div>
                <div class="col s3 coin-price">
                    <h5>{{ coins.RAW[key]["USD"]["PRICE"] | currency:'USD':'symbol-narrow':'1.2-4' }}</h5>
                </div>
                <div class="col s3 coin-price">
                    <h5>{{ coins.RAW[key]["USD"]["MKTCAP"] | currency:'USD':'symbol-narrow':'1.2-4' }}</h5>
                </div>
                <div class="col s3">
                    <h5>Last 24h</h5>
                </div>
            </div>
        </div>
    </div>
</div>