<!-- table header -->
<div id="list-header" ng-sticky [offSet]="0" [addClass]="'is-sticky'">
    <div class="wrapper">
        <div class="row-head row">
            <div class="col s3">
                <h5>Currency</h5>
            </div>
            <div class="col s3">
                <h5>Price</h5>
            </div>
            <div class="col s3">
                <h5>Market cap</h5>
            </div>
            <div class="col s3">
                <h5>24h change</h5>
            </div>
        </div>
    </div>
</div>

<div class="preloader" *ngIf="!loaded"></div>
<div style="position: absolute; left: 50%; top: 50%;">
    <div class="progress" style="position: relative; left: -50%;">
        <div class="indeterminate"></div>
    </div>
</div>


<!-- table content -->
<div class="hidden-data" *ngIf="loaded">
    <div class="data">
        <div id="list-row" *ngFor="let key of coins.RAW | ObjKeys; let i = index" [routerLink]="['/coin', key]" [ngsReveal]="{ reset: true}">
            <div class="wrapper list-row" ngDefaultControl [(ngModel)]="currentSymbol">
                <div class="row-head row" ngDefaultControl [(ngModel)]="currentCurrency">
                    <div class="col s3 coin-name">
                        <div class="number">{{ i + 1 }}.</div>
                        <div class="icon">
                            <i class="cc {{key}}"></i>
                        </div>
                        <h5>{{ key }}</h5>
                    </div>
                    <div class="col s3 coin-price">
                        <span class="currency">{{currentSymbol}}</span>
                        <h5>{{ coins.RAW[key][currentCurrency]["PRICE"] | number:'1.2-4' }}</h5>
                    </div>
                    <div class="col s3 coin-price">
                        <span class="currency">{{currentSymbol}}</span>
                        <h5>{{ coins.RAW[key][currentCurrency]["MKTCAP"] | number:'1.2-4' }}</h5>
                    </div>
                    <div class="col s3 coin-perc">
                        <div class="plus" *ngIf="checkPercent(coins.RAW[key][currentCurrency]['CHANGEPCT24HOUR'])">
                            <i class="fa fa-caret-up"></i>
                            <h5>{{ coins.RAW[key][currentCurrency]["CHANGEPCT24HOUR"] | number:'1.2' }}%</h5>
                        </div>
                        <div class="minus" *ngIf="!checkPercent(coins.RAW[key][currentCurrency]['CHANGEPCT24HOUR'])">
                            <i class="fa fa-caret-down"></i>
                            <h5>{{ coins.RAW[key][currentCurrency]["CHANGEPCT24HOUR"] | number:'1.2' }}%</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn" (click)="scrollToTop()">
    <a class="btn-floating btn-small">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>