#list-header {
    border-top: 1px solid #D6E2EB;
    border-bottom: 1px solid #D6E2EB;
    background: #ECF1F4;
    width: 100%;
    z-index: 100;
}

#list-header.floating {
    position: fixed;
    top: 0;
}

#list-row {
    border-bottom: 1px solid #D6E2EB;
    background: #fff;
    width: 100%;
    outline: none;
}

#list-row:hover {
    background: #f1f1f1;
}

.wrapper {
    margin: auto;
    width: 42%;
    text-align: center;
}

.wrapper h5 {
    color: #93969e;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.6em;
    margin: 5px 0 0 0;
}

.list-row {
    padding: 15px 0;
    cursor: pointer;
}

.coin-name {
    font-size: 0.8em;
    font-weight: lighter;
}

.coin-name h5 {
    color: #8f8f8f;
    text-transform: none;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 0.9em;
}

.number {
    float: left;
    height: 100%;
}

.icon {
    float: left;
    height: 100%;
    margin-left: 40px;
}

.icon i {
    font-size: 1.3em;
    line-height: 5px;
}

.coin-price h5 {
    color: #8f8f8f;
    text-transform: none;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: .65em;
    display: inline;
}

.currency {
    color: #93969E;
    font-size: 0.7em;
}

.progress {
    height: 2px;
    background: #ECF1F4;
    width: 220px;
}

.progress .indeterminate {
    background-color: #2ecc71;
}

.btn-floating {
    background: #2ecc7010;
}

.btn-floating i {
    color: #29b765;
}

.btn-floating:hover {
    background: #29b76496;
    color: #24a35a;
}

.coin-perc .plus h5 {
    color: #29b765;
    display: inline;
}

.coin-perc .minus h5 {
    color: #e74c3c;
    display: inline;
}

.coin-perc .plus i {
    color: #29b765;
    font-size: 0.6em;
}

.coin-perc .minus i {
    color: #e74c3c;
    font-size: 0.6em;
}

.preloader {
    height: 1200px;
}

.row-head::after {
    clear: none;
}
