<!-- table header -->
<div id="list-header" ng-sticky [offSet]="0" [addClass]="'is-sticky'">
    <div class="wrapper">
        <div class="row-head row">
            <div class="col s3">
                <h5>Currency</h5>
            </div>
            <div class="col s3">
                <h5>Price</h5>
            </div>
            <div class="col s3">
                <h5>Market cap</h5>
            </div>
            <div class="col s3">
                <h5>Last 24h</h5>
            </div>
        </div>
    </div>
</div>

<!-- table content -->
<div id="list-row" *ngFor="let a of test">
    <div class="wrapper list-row">
        <div class="row-head row">
            <div class="col s3 coin-name">
                <div class="number">1</div>
                <div class="icon">
                    <i class="fa fa-btc"></i>
                </div>
                <h5>Currency</h5>
            </div>
            <div class="col s3 coin-price">
                <h5>3.123,00</h5>
            </div>
            <div class="col s3 coin-price">
                <h5>33.123.123,00</h5>
            </div>
            <div class="col s3">
                <h5>Last 24h</h5>
            </div>
        </div>
    </div>
</div>