<div id="list-summary" ngDefaultControl [(ngModel)]="currentCurrencySymbol">
    <div class="container">
        <div class="row">
            <div class="col s3 summary-column">
                <div class="summary">
                    <div class="summary-title">
                        <h6>Total market cap</h6>
                    </div>
                    <div class="summary-price">
                        <span>{{ currentCurrencySymbol }}</span>
                        <p>123,123,123</p>
                    </div>
                </div>
            </div>
            <div class="col s3 summary-column">
                <div class="summary">
                    <div class="summary-title">
                        <h6>Total supply</h6>
                    </div>
                    <div class="summary-price">
                        <span>{{ currentCurrencySymbol }}</span>
                        <p>123,123,123</p>
                    </div>
                </div>
            </div>
            <div class="col s3 summary-column">
                    <div class="summary">
                        <div class="summary-title">
                            <h6>24h trade volume</h6>
                        </div>
                        <div class="summary-price">
                            <span>{{ currentCurrencySymbol }}</span>
                            <p>123,123,123</p>
                        </div>
                    </div>
                </div>
            <div class="col s3 summary-column">
                <div class="summary">
                    <div class="summary-title">
                        <h6>Number of coins</h6>
                    </div>
                    <div class="summary-price">
                        <span>{{ currentCurrencySymbol }}</span>
                        <p>123,123,123</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>