<footer>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col s4 image">
                    <p>aaa</p>
                </div>
                <div class="col s8 project">
                    <h4>cryptocurrency-stockmarket</h4>
                    <p>Frontend app for tracking changes on stock market, built with
                        <a href="https://angular.io/">Angular 5</a> using
                        <a href="http://materialize.css/">Google Materialize CSS</a>
                        framework.</p>
                    <p>Pay it a visit on GitHub:</p>
                    <div class="buttons">
                        <a href="https://github.com/sebamed/cryptocurrency-stockmarket/blob/master/README.md#greetings" class="btn-green">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>
                        </a>
                        <a href="https://github.com/sebamed/cryptocurrency-stockmarket/" class="btn-green">
                            <i class="fa fa-github"></i>
                            <span>View project</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="end">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <p>Built with
                        <i class="fa fa-heart"></i> by
                        <a href="https://github.com/sebamed">sebamed</a>
                    </p>
                    <p>Design heavily inspired by
                        <a href="https://coinranking.com">CoinRanking</a>
                    </p>
                    <p>Made for fun and education, using
                        <a href="https://angular.io/">Angular 5</a>,
                        <a href="https://jquery.com/">jQuery</a>,
                        <a href="http://materializecss.com/">MaterializeCSS</a> and some
                        <a href="https://github.com/sebamed/cryptocurrency-stockmarket/blob/master/README.md#greetings">ng2 libraries</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>